<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW COMMENT</title>
</head>
<body> 
    <h1>Make a new comment</h1>
      <form action="/comments" method="post">
        <section>
        <label for="username">Enter a username: </label>
        <input type="text" placeholder="username" id="username" name="username"></section>
        <section>
        <label for="comment">Enter your comment:</label>
      <textarea name="comment" id="" cols="30" rows="5" id="comment"></textarea></section>
        <button>Submit</button>
      </form>
</body>
</html>